/*CSS reset */
* {margin: 0; padding: 0;}
*, *::before, *::after {box-sizing: border-box;}
body {min-height: 100vh; font-size: 14px; font-family: Arial, Helvetica, sans-serif;}
p {text-wrap: pretty;}
h1, h2, h3, h4, h5, h6 { text-wrap: balance; font-family:'Courier New', Courier, monospace;}

:root {
    --background-color:rgb(14, 14, 91);
    --color-h1: white;
    --background-color-main: rgb(208, 211, 216);
    --background-color-card: white;
    --font-size-h1: 1.4em;
    --font-size-h2: 1.2em;
    --font-size-h3: 1em;
    --font-size-p: 0.9em;

}
h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
p {
    font-size: var(--font-size-p);
}
.grid-container {
    margin: 10px;
}
/* menú superior  + h1 */
nav {
    grid-area: nav;
    background-color: var(--background-color);
    color:var(--color-h1);  
}
nav h1 {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/* menú lateral con h2 y lista */
aside {
    grid-area: aside;
    background-color: var(--background-color-main);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

}
aside h2 {
    width: 100%;
    height: 60px;
    padding: 15px;
}
aside ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    min-height: 50%;
    align-content: center;
    justify-content: flex-start;
}
aside ul li {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 2px 15px;
    flex-wrap:wrap ;
    align-items: center;

}
/* sección principal del layout */
section {
    grid-area: section;
    background-color: var(--background-color-main);
    
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 100%;
    
}
/* contenedor de los card */
.card {
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 260px;
    background-color: var(--background-color-card);
}
/* imagen del card*/

.imagen {
    display: flex;
    width: 100%;
    height: 190px;
    align-items: center;
}
/* h2 del card*/

.name {
    display: flex;
    height: 30px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* párrafo del card */
.precio {
    display: flex;
    height: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* h3 del card */
.comprar {
    display: flex;
    height: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:var(--background-color);
    color: var(--color-h1);
}

/* footer del layout */
footer {
    display: grid;
    align-items: center;
    grid-area: footer;
    text-align: center;
    width: 100%; 
    height: 40px;  
}

.grid-container {
    display: grid;
    grid-template-areas:
     'nav nav '
     'aside section '
     'aside section '
     'footer footer '
     ;
     grid-template-rows: 40px auto 40px;
     grid-template-columns: 18% auto;
     height: 100vh;
}